.links {
    display: flex;
    gap: 25px;
}

.links a{

    text-decoration: none;

}

#logo {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#logo_destaque {

    color: #00ff00;
}

#texto_logo {
    display:flex;
    font-size: 20px;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    gap: 1rem;

}


/*
image {
    height: 2rem; 
}
*/

#imagem_logo {

    width: 64px;
    height: 64px;
}


@media only screen and (max-width: 600px) {

    .links {
        gap: 10px;
        font-size: 10px;
    }

    #imagem_logo {

        width: 32px;
        height: 32px;
    }

    #texto_logo {
        display:flex;
        font-size: 10px;
    }

    header {

        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    
}